---
title: Archive
description: Essays on using digital technology, reviews, talks, and detours
layout: layouts/base.njk
eleventyNavigation:
  key: Archive
  order: 5
linkedDataType: CollectionPage
---
<h1>{{ title }}</h1>

{% set postslist = collections.archive %}
{% include "postslist.njk" %}
