---
layout: layouts/home.njk
eleventyNavigation:
  key: Apps
  order: 1
---
<h1>Hominid Software</h1>

<h2>Consulting</h2>
<a href="mailto:support@hominidsoftware.com?subject=Consulting">Contact me</a> about availability and rates.

<h2>Productivity Webapp</h2>

<h3><a href="notes-together">Notes Together</a></h3>
<p>Free your mind from mundane details!
	Toss in text and pictures.
	Be confident you can find any note on any device.
	Take control of your data with <a href="https://remotestorage.io/">remoteStorage</a>. Never spend time tidying up — unless you want to!</p>

<h2>Web Games</h2>

<h3><a href="https://dougreeder.github.io/elfland-glider/">Elfland Glider</a></h3>
<p>Fly through fantastic worlds, help the merry and mischievous light elves, & avoid the surly and mischievous dark elves. </p>
<p><i>Best on mobile or VR</i></p>

<h3><a href="https://dougreeder.github.io/barrier-mage/">Barrier Mage</a></h3>
<p>Draw mystic symbols to burn, protect, or detect & drive off fantastic creatures!</p>
<p><i>Requires a VR headset and two 6-DOF controllers</i></p>

<h2>Multi-user Worlds</h2>

<h3><a href="https://xalot.surge.sh/">Xalot</a></h3>
<p>After you've started a session, share the link from the URL bar to invite others.</p>

<h2>Support</h2>
<a href="mailto:support@hominidsoftware.com?subject=Support">Contact me</a> about difficulties, or raise an issue on the appropriate repository on <a href="https://github.com/DougReeder">GitHub</a>.


{#<h2>Content Pages</h2>#}
{# Lists every content page in the project #}
{#<ul>#}
{#	{%- for entry in collections.all %}#}
{#	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>#}
{#	{%- endfor %}#}
{#</ul>#}
