---
permalink: /tags/
layout: layouts/home.njk
title: All Tags on Hominid Software
description: list of keywords for blog posts, reviews and talks
linkedDataType: CollectionPage
---
<h1>All Tags</h1>

<ul>
{% for tag in collections.all | getAllTags | filterTagList | sortAlphabetically %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a></li>
{% endfor %}
</ul>
