---
description: Essays on using digital technology to become a better person (with detours)
layout: layouts/blog-home.njk
eleventyNavigation:
  key: Blog
  order: 2
numberOfLatestPostsToShow: 12
---
{% set postsCount = collections.post | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.post | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/archive/">the archive</a>.</p>
{% endif %}

<div class="flex-center-center">
	<a href="/feed/feed.json"><img src="/img/json-feed-icon.svg" width="36" height="36"></a>
	&nbsp;
	<a href="/feed/feed.xml"><img src="/img/atom-feed-icon.svg" width="36" height="36"></a>
</div>
