---
layout: layouts/blog-base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<div class="post-description">{{ description }}</div>

<div class="post-description">About {{ content | readingTime }} reading time</div>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{{ content | safe }}

{%- if collections.post %}
{%- set previousPost = collections.post | getPreviousCollectionItem %}
{%- set nextPost = collections.post | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
	{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}

<div class="flex-center-center">
	<a href="/feed/feed.json"><img src="/img/json-feed-icon.svg" width="36" height="36" alt="JSON for feed readers"></a>
	&nbsp;
	<a href="/feed/feed.xml"><img src="/img/atom-feed-icon.svg" width="36" height="36" alt="Atom XML for feed readers"></a>
</div>
