---
layout: layouts/presentation-base.njk
---
{# Only include the syntax highlighter CSS on presentations #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<ul class="post-metadata">
	<li><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></li>
	{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {% endif %}</li>
	{%- endfor %}
</ul>

{% if abstract -%}
	<h2>Abstract</h2>
	<p>{{ abstract | safe }}</p>
{%- endif %}

{{ content | safe }}

{%- if collections.presentation %}
	{%- set previousPresentation = collections.presentation | getPreviousCollectionItem %}
	{%- set nextPresentation = collections.presentation | getNextCollectionItem %}
	{%- if nextPresentation or previousPresentation %}
		<ul class="links-nextprev">
			{%- if previousPresentation %}<li>Previous: <a href="{{ previousPresentation.url }}">{{ previousPresentation.data.title }}</a></li>{% endif %}
			{%- if nextPresentation %}<li>Next: <a href="{{ nextPresentation.url }}">{{ nextPresentation.data.title }}</a></li>{% endif %}
		</ul>
	{%- endif %}
{%- endif %}

<div class="flex-center-center">
	<a href="/feed/presentationFeed.json"><img src="/img/json-feed-icon.svg" width="36" height="36"></a>
	&nbsp;
	<a href="/feed/presentationFeed.xml"><img src="/img/atom-feed-icon.svg" width="36" height="36"></a>
</div>
